
/*----------------------------------------------- */
/* END => Header Styles */
/*----------------------------------------------- */
	


     #map-rollover-container  {         
         display:none;         
         opacity:0.92;         
         width:200px;
         z-index:300000;
         position:relative;
         height:0;
         line-height:0;
     }
     #map-rollover {
         background:url("../images/rollover.png") no-repeat scroll 0 0 transparent;
         border-color:#A7A7A7;         
         font:bold 11px Arial;         
         padding:28px 30px 0 29px;         
         text-align:center;
         margin-bottom: 0;
         /*height:150px;*/
         width:171px;
     }
     #map-rollover-btm  {
         background:url("../images/rollover-bottom.png") no-repeat scroll 0 0 transparent;         
         height:16px;
         opacity:0.92;         
         width:200px;
         clear:both;
         margin:0 15px;
         z-index:300000;
     }
     .contentSlide{
         width:100px;
     }
     #con_left{
         float: left;
         width: 200px;
     }
     #left_bar_text{
     	 text-align : left;
      	 font-weight: bold;
      	 font-size : 15px;
      	 text-indent: 10px;
      	 padding-top:10px;
     }
     #con_right{
        float: right;
     }
     .headLinks{
     	float: right;
     }

    .searchMap{
        height:735px;
        margin-top:5px;
        width:100%;
    }
    
    
     #slider, #surface_slider{
     	background: url(../images/Slider_bar.gif) no-repeat;
        width:165px;
     }
     .fixedFilter{
     	height:360px;
     }
     #surface_slider{
        margin:0 25px;
     }
     #surfaceDiv{

     	color:#d8202c;
	font-size:11px;
	font-weight:bold;

     }
     #surf_text{
     	color:#000;
     	font-size:11px;
     	padding:5px;
	text-align:center;
     }
   
     #circle_draw{
     	float:right;
     	width: 31px;
     	height : 31px;
     }

     #poly_draw{
     	float:right;
     }
     .ui-slider-handle{
/*     	background: url(../images/Slider_arw.png) no-repeat;*/
     }
     #shape_circ {
         background-image: url(../images/Bsu.png);
         width : 31px;
         height : 31px;

     }
     #shape_circ.selected {
         background-image: url(../images/Bsd.png);
     }
     #shape_poly {
         background-image: url(../images/Bpu.png);
         width : 31px;
         height : 31px;
     }
     #shape_poly.selected {
         background-image: url(../images/Bpd.png);
     }



/* left bar */

    .left_bar{
         background: url(../images/left_div.jpg) no-repeat;
         margin-bottom : 15px;
    }

    #search_left{
       background: url(../images/Srch_lft.jpg) top left no-repeat;
       float : left;
    }

    #search_center{
       background: url(../images/Srch_cntr.jpg) repeat-x;
       height : 101px;
    }

   #search_right{
       background: url(../images/Srch_rght.jpg) top right no-repeat;
       float : left;
    }
    #tab_align{
    	padding : 10px 5px 0px 0px;
    	color : #000;
    	font-size : 11px;
    }
    #tab_align tr, td{
    	text-align: left;
    	padding-right:10px;
    }

    #center_left{
        background: url(../images/search_divider.jpg) no-repeat 100% 85%;
        float : left;
        padding : 10px 20px 15px 15px;
    }

    .gotobtn{
        padding:4px 0 0 10px;
        font:18px Arial, Helvetica, bold, sans-serif;
        color:#fff;
    }

    #center_right{
        float : right;
        padding : 20px 0px 0 0;

    }
    #search_head_title{
      text-align : left;
      font-weight: bold;
      font-size : 15px;
      padding-bottom : 10px;
    }

    a{
        text-decoration: none;
    }

    #search_image{
        background: url('../images/Search_box.png') top left no-repeat;
        width : 445px;
        height : 30px;
        float : left;

    }
    .search_btn{
        float:left;
    }
    .search_btn a {
        cursor:pointer;
        display:block;
        height : 26px;
        width : 75px;
        float : left;
    }
    .search_btn a, search_btn a:visited, search_btn a:link{
        background: url('../images/ALouer_norm.jpg') no-repeat ;

    }
    .search_btn a:hover{
        background: url('../images/ALouer_Hover.jpg') no-repeat ;
    }
    .search_sec{
        margin-left:5px;
        float: left;
    }
    .search_sec a{
        cursor:pointer;
        display:block;
        height : 30px;
        width : 85px;
        float : left;
    }
    .search_sec a, search_sec a:visited, search_sec a:link{
        background: url('../images/search_btn_norm.jpg') no-repeat ;
    }
    .search_sec a:hover{
        background: url('../images/search_btn_over.jpg') no-repeat ;
    }

    #button_search{
        float : left;
    }
    #search_input {
        background:transparent;
        border:medium none;
        display:block;
        width: 390px;
        height:20px;
        padding:0;
        margin: 5px 0 0 40px;
    }

/*  End left bar */

    /* Round Corner */

    .block{width:auto;clear:both; }

    .t_rpt2 {background: url('../images/Round_corners/tp_mid.jpg') 0 0 repeat-x; height:5px; margin:0 5px;}

    .b_rpt2 {background: url('../images/Round_corners/btm_mid.jpg') 0 0 repeat-x; height:5px; margin:0 5px;}

    .l2 {background: url('../images/Round_corners/left.jpg') 0 0 repeat-y; }
    .r2 {background: url('../images/Round_corners/right.jpg')  100% 0 repeat-y;}

    .bl2 {background: url('../images/Round_corners/btm_left.png') 0 100% no-repeat;}
    .br2 {background: url('../images/Round_corners/btm_right.png') 100% 0 no-repeat;}

    .tl2 {background: url('../images/Round_corners/tp_left.png') 0 0 no-repeat;}
    .tr2 {background: url('../images/Round_corners/tp_right.png') 100% 0 no-repeat;}

/*btm_lft.jpg*/

    .m, .t2, .b2{clear:both;width:100%;}

    .mid{padding:5px;background:#fff; color:#000;margin:0 5px; overflow:hidden;}

    /* End Round Corner */
    .header{overflow:hidden;width:100%;}
    .content{overflow:hidden; margin-top: 10px;}
    .content_inner{overflow:hidden; margin-top : 10px;}

/* Left Side Accordions */
     .accord_menu {
         margin-bottom   :   15px;
         color           :   #76797C;
         font-size       :   12px;
     }
     .menu-content{
		margin:10px 0 10px 0;
		padding:0;
     }
     .menu-handle a.handle_anch{
         color           :   #666;
         text-decoration :   none;
         font-family     :   arial;
         display : block;
         text-align : left;
         font-weight     :bold;
         font-size: 11px;
         padding-right: 30px;
         background: url('../images/Arw_lft.gif') 95% no-repeat;
     }
     .open a.handle_anch{
       background: url('../images/Arw_down.gif') 95% no-repeat;
     }
     UL.accord_menu {
         margin:50px 0 0;
         padding:0;
         list-style-type :   none;
     }

     .menu-handle {
         background      :   transparent url('../images/btn_bg.jpg') repeat-x;
         color           :   #d2d2d2;
         cursor          :   default;
         height          :   25px;
         line-height     :   25px;
         margin-bottom   :   0;
         text-indent     :   15px;
         width           :   100%;

     }

     .menu-handle.active{
     	 background: url('../images/Arw_down.gif') 95% no-repeat;
         font-size   :   14px;
     }
     .menu-handle.open {
         background-color    :   #72839D;
         background-position :   -188px 0pt;
         color               :   #FFFFFF;
     }


/* End Left Side Accordions*/

